.loginContainer{
    margin: 0;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}
.loginWrapper{
    display: flex;
   

}
.loginLeft{
    flex:5;
    height: 100vh;
    background-color: rgb(14, 38, 192);
    
}
.loginLeftWrapper{
    margin: 12rem;
    padding: 0;
}
.loginRight{
    flex:7;
    background-color: rgb(255, 255, 255);
}
.loginLogo{
    font-size: 34px;
    font-weight: 400;
    color:white;
    margin-left: 1.6vw;
    font-family: 'Titan One', cursive; 
    margin: 20px;
}
.loginDesc{
    font-size: 24px;
    margin: 20px;
    color: #c1bebe;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loginBox{
    margin: 8rem 8rem 0 8rem ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.3rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}
.loginInput{
    width: 100%;
    height: 44px;
    border-radius: 24px;
    padding-left: 12px;
    font-size: 18px;
    margin-right: 12px;
    border: 1px solid #c1bebe;
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    width: 100%;
    height: 44px;
    border-radius: 24px;
    background-color: rgb(14, 38, 192);
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;

}
.loginRegisterButton{
    width: 60%;
    margin: 5% 20%;
    height: 44px;
    border-radius: 24px;
    background-color: white;
    color: rgb(14, 38, 192);
    font-size: 18px;
    font-weight: 500;
    border: 1px solid rgb(14, 38, 192);
    cursor: pointer;
}
