.rightbarFriendItem{
    display: flex;
    align-items: center;
    margin: 15px 0 ;
    font-size: 20px;
}
.rightbarProfileImg{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;
    
}
.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -5px;
    right: 0;
    border: 2px solid white;
    margin-left: 10px;
}
.rightbarProfileContainer{
    margin-right: 10px;
    position: relative;
}