.shareContainer{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-shadow: -10px -1px 28px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px -1px 28px -11px rgba(0,0,0,0.75);
    box-shadow: -10px -1px 28px -11px rgba(0,0,0,0.75);
}
.shareWrapper{
   padding: 10px;
   /* width: 70%; */
}
.shareTop{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.shareImg{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
.shareInput{
    border: none;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: gray;
    outline: none;
    margin-left: 12px;
}
.shareHr{
    /* width: 600px; */
    margin: 14px;
}
.shareBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px;
}
.shareOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.shareOption{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}
.shareOptionName{
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
}
.shareIcon{
    font-size: 28px;
    margin-right: 5px;
    cursor: pointer;
}
.shareBtn{
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #5d5d5d;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.shareBtn:hover{
    background-color: #4d4d4d;
}